<!DOCTYPE html>
<html>
<link rel = "stylesheet" type = "text/css" href = "https://codeproject.freetls.fastly.net/App_Themes/CodeProject/Css/Main.css?dt=2.8.20201113.1" />
<head>

</head>
<body>
<h1>Building a Database Application in Blazor </h1>

<h2>Part 5 - View Components - CRUD List Operations in the UI</h2>

<h2>Introduction</h2>

<p>This is the fifth in the series looking at how to build and structure a real Database Application in Blazor. &nbsp;The articles so far are:</p>

<ol start="1"><li><a href="https://www.codeproject.com/Articles/5279560/Building-a-Database-Application-in-Blazor-Part-1-P">Project Structure and Framework</a></li>

<li><a href="https://www.codeproject.com/Articles/5279596/Building-a-Database-Application-in-Blazor-Part-2-S">Services - Building the CRUD Data Layers</a></li>

<li><a href="https://www.codeproject.com/Articles/5279963/Building-a-Database-Application-in-Blazor-Part-3-C">View Components - CRUD Edit and View Operations in the UI</a></li>

<li><a href="https://www.codeproject.com/Articles/5280090/Building-a-Database-Application-in-Blazor-Part-4-U">UI Components - Building HTML/CSS Controls</a></li>

<li><a href="https://www.codeproject.com/Articles/5280391/Building-a-Database-Application-in-Blazor-Part-5-V">View Components - CRUD List Operations in the UI</a></li>

<li><a href="https://www.codeproject.com/Articles/5281000/Building-a-Database-Application-in-Blazor-Part-6-A">A walk through detailing how to add weather stations and weather station data to the application</a></li>

</ol>

<p>Further articles: </p>

<ul><li>A walk through detailing how to add more records to the application - in this case weather stations and weather station data.</li>

</ul>

<p>This article looks in detail at building reusable List Presentation Layer components and deploying them in both Server and WASM projects.</p>

<h2>Repository and Database</h2>

<p><a href="https://github.com/ShaunCurtis/CEC.Blazor">CEC.Blazor GitHub Repository</a></p>

<p>There's a SQL script in /SQL in the repository for building the database.</p>

<p><a href="https://cec-blazor-server.azurewebsites.net/">You can see the Server version of the project running here</a>.</p>

<p><a href="https://cec-blazor-wasm.azurewebsites.net/">You can see the WASM version of the project running here</a>.</p>

<h2>List Functionality</h2>

<p>List components present far more challenges than other CRUD components. &nbsp; Functionality expected in a professional level list control includes:</p>

<ul><li>Paging to handle large data sets</li>

</ul>

<ul><li>Column formatting to control column width and data overflow</li>

</ul>

<ul><li>Sorting on individual columns</li>

</ul>

<ul><li>Filtering</li>

</ul>

<h2>The Base Forms</h2>

<p><code>ListFormBase</code> is the base form for all lists. &nbsp;It inherits from <code>ControllerServiceFormBase</code>.</p>

<p>Not all the code is shown in the article - some class are simply too big and I only show the most relevant sections. &nbsp; All source files can be viewed on the Github site, and I include references or links to specific code files at appropriate places in the article. &nbsp; Much of the detail on what sections of code do is in the code comments.</p>

<h3>Paging</h3>

<p>Paging is implemented through the <code>IControllerPagingService</code> interface. &nbsp;<code>BaseControllerService</code> implements this interface. &nbsp; It's not shown in detail here because it's too big. &nbsp; Much of the functionality is pretty obvious - properties to track which page your on, how many pages and blocks you have, page size, etc - so we'll skip to the more interesting sections.</p>

<h4>Initial Form Loading</h4>

<p>Lets start with loading a list form and look at <code>OnRenderAsync</code>.</p>

<pre lang="c#">// CEC.Weather/Components/Forms/WeatherForecastListForm.razor.cs
protected override Task OnRenderAsync(bool firstRender)
{
    if (firstRender)
    {
        // Sets the specific service
        this.Service = this.ControllerService;
        // Sets the max column
        this.UIOptions.MaxColumn = 3;
    }
    return base.OnRenderAsync(firstRender);
}
</pre>

<pre lang="c#">// CEC.Blazor/Components/BaseForms/ListFormBase.cs
protected async override Task OnRenderAsync(bool firstRender)
{
    // set the page to 1
    var page = 1;
    if (this.IsService)
    {
        if (firstRender)
        {
            // Reset the Service if this is the first load
            await this.Service.Reset();
            this.ListTitle = string.IsNullOrEmpty(this.ListTitle) ? $"List of {this.Service.RecordConfiguration.RecordListDecription}" : this.ListTitle;

        }
        // Load the filters for the recordset
        this.LoadFilter();
        // Check if we have a saved Page No in the ViewData
        if (this.IsViewManager && !this.ViewManager.ViewData.GetFieldAsInt("Page", out page)) page = 1;
        // Load the paged recordset
        await this.Service.LoadPagingAsync();
        // go to the correct page
        await this.Paging.GoToPageAsync(page);
        this.Loading = false;
    }
    await base.OnRenderAsync(firstRender);

}
</pre>

<pre lang="c#">// CEC.Blazor/Components/BaseForms/FormBase.cs
protected async override Task OnRenderAsync(bool firstRender)
{
    if (firstRender) {
        await GetUserAsync();
    }
    await base.OnRenderAsync(firstRender);
}
</pre>

<pre lang="c#">// base LoadFilter
protected virtual void LoadFilter()
{
    // Set OnlyLoadIfFilter if the Parameter value is set
    if (IsService) this.Service.FilterList.OnlyLoadIfFilters = this.OnlyLoadIfFilter;
}
</pre>

<p>We're interested in <code>ListFormBase</code> calling <code>LoadPagingAsync()</code></p>

<pre lang="c#">// CEC.Blazor/Components/BaseForms/ListComponentBase.cs

/// Method to load up the Paged Data to display
/// loads the delegate with the default service GetDataPage method and loads the first page
/// Can be overridden for more complex situations
public async virtual Task LoadPagingAsync()
{
    // set the record to null to force a reload of the records
    this.Records = null;
    // if requested adds a default service function to the delegate
    this.PageLoaderAsync = new IControllerPagingService&lt;TRecord&gt;.PageLoaderDelegateAsync(this.GetDataPageWithSortingAsync);
    // loads the paging object
    await this.LoadAsync();
    // Trigger event so any listeners get notified
    this.TriggerListChangedEvent(this);
}
</pre>

<p><code>IControllerPagingService</code> defines a delegate <code>PageLoaderDelegateAsync</code> which returns a List of TRecords, and a delegate property <code>PageLoaderAsync</code>. &nbsp; </p>

<pre lang="c#">// CEC.Blazor/Services/Interfaces/IControllerPagingService.cs

// Delegate that returns a generic Record List
public delegate Task&lt;List&lt;TRecord&gt;&gt; PageLoaderDelegateAsync();

// Holds the reference to the PageLoader Method to use
public PageLoaderDelegateAsync PageLoaderAsync { get; set; }
</pre>

<p>By default, <code>LoadPagingAsync</code> loads the method <code>GetDataPageWithSortingAsync</code> as <code>PageLoaderAsync</code>, and then calls <code>LoadAsync</code>.</p>

<p><code>LoadAsync</code> resets various properties (We did this in <code>OnRenderAsync</code> by resetting the service, but <code>LoadAsync</code> is called from elsewhere where we need to reset the record list - but not the whole service), and calls the <code>PageLoaderAsync</code> delegate.</p>

<pre lang="c#">// CEC.Blazor/Services/BaseControllerService.cs
public async Task&lt;bool&gt; LoadAsync()
{
    // Reset the page to 1
    this.CurrentPage = 1;
    // Check if we have a sort column, if not set to the default column
    if (!string.IsNullOrEmpty(this.DefaultSortColumn)) this.SortColumn = this.DefaultSortColumn;
    // Set the sort direction to the default
    this.SortingDirection = DefaultSortingDirection;
    // Check if we have a method loaded in the PageLoaderAsync delegate and if so run it
    if (this.PageLoaderAsync != null) this.PagedRecords = await this.PageLoaderAsync();
    // Set the block back to the start
    this.ChangeBlock(0);
    //  Force a UI update as everything has changed
    this.PageHasChanged?.Invoke(this, this.CurrentPage);
    return true;
}
</pre>

<p><code>GetDataPageWithSortingAsync</code> is shown below. &nbsp; See the comments for detail. &nbsp;<code>GetFilteredListAsync</code> is always called to refresh the list recordset if necessary. &nbsp;</p>

<pre lang="c#">// CEC.Blazor/Services/BaseControllerService.cs
public async virtual Task&lt;List&lt;TRecord&gt;&gt; GetDataPageWithSortingAsync()
{
    // Get the filtered list - will only get a new list if the Records property has been set to null elsewhere
    await this.GetFilteredListAsync();
    // Reset the start record if we are outside the range of the record set - a belt and braces check as this shouldn't happen!
    if (this.PageStartRecord &gt; this.Records.Count) this.CurrentPage = 1;
    // Check if we have to apply sorting, in not get the page we want
    if (string.IsNullOrEmpty(this.SortColumn)) return this.Records.Skip(this.PageStartRecord).Take(this._PageSize).ToList();
    else
    {
        //  If we do order the record set and then get the page we want
        if (this.SortingDirection == SortDirection.Ascending)
        {
            return this.Records.OrderBy(x =&gt; x.GetType().GetProperty(this.SortColumn).GetValue(x, null)).Skip(this.PageStartRecord).Take(this._PageSize).ToList();
        }
        else
        {
            return this.Records.OrderByDescending(x =&gt; x.GetType().GetProperty(this.SortColumn).GetValue(x, null)).Skip(this.PageStartRecord).Take(this._PageSize).ToList();
        }
    }
}
</pre>

<p><code>GetFilteredListAsync</code> gets a filter list recordset. &nbsp; It's overridden in form components where filtering is applied - such as from a filter control. &nbsp; The default implementation gets the full recordset. &nbsp; It uses <code>IsRecords</code> to check if it needs to reload the recordset. &nbsp; It only reloads if <code>Records</code> is null.</p>

<pre lang="c#">// CEC.Blazor/Services/BaseControllerService.cs
public async virtual Task&lt;bool&gt; GetFilteredListAsync()
{
    // Check if the record set is null. &nbsp;and only refresh the record set if it's null
    if (!this.IsRecords)
    {
        //gets the filtered record list
        this.Records = await this.Service.GetFilteredRecordListAsync(FilterList);
        return true;
    }
    return false;
}
</pre>

<p>To summarise:</p>

<ol start="1"><li>On Form loading <code>Service</code> (the specific data service for the record type) gets reset.</li>

<li><code>GetDataPageWithSortingAsync()</code> on the <code>Service</code> gets loaded into the <code>Service</code> delegate</li>

<li>The Delegate gets called with <code>Records</code> in the <code>Service</code> set to null</li>

<li><code>GetFilteredListAsync()</code> loads <code>Records</code></li>

<li><code>GetDataPageWithSortingAsync()</code> loads the first page</li>

<li><code>IsLoading</code> is set to false so the <code>UIErrorHandler</code> UI control displays the page.</li>

<li>The Form is refreshed after <code>OnParametersSetAsync</code> automatically so no manual call to <code>StateHasChanged</code> is required. &nbsp;<code>OnInitializedAsync</code> is part of <code>OnParametersSetAsync</code> and only completes when <code>OnInitializedAsync</code> completes. &nbsp;</li>

</ol>

<h4>Form Events</h4>

<p>The <code>PagingControl</code> interfaces directly with the Form <code>Service</code> through the <code>IPagingControlService</code> interface, and links button clicks to <code>IPagingControlService</code> methods:</p>

<ol start="1"><li><code>ChangeBlockAsync(int direction,bool supresspageupdate)</code></li>

<li><code>MoveOnePageAsync(int direction)</code></li>

<li><code>GoToPageAsync(int pageno)</code></li>

</ol>

<pre lang="c#">// CEC.Blazor/Services/BaseControllerService.cs

/// Moves forward or backwards one block
/// direction 1 for forwards
/// direction -1 for backwards
/// suppresspageupdate 
///  - set to true (default) when user changes page and the block changes with the page
///  - set to false when user changes block rather than changing page and the page needs to be updated to the first page of the block
public async Task ChangeBlockAsync(int direction, bool suppresspageupdate = true)
{
    if (direction == 1 && this.EndPage &lt; this.TotalPages)
    {
        this.StartPage = this.EndPage + 1;
        if (this.EndPage + this.PagingBlockSize &lt; this.TotalPages) this.EndPage = this.StartPage + this.PagingBlockSize - 1;
        else this.EndPage = this.TotalPages;
        if (!suppresspageupdate) this.CurrentPage = this.StartPage;
    }
    else if (direction == -1 && this.StartPage &gt; 1)
    {
        this.EndPage = this.StartPage - 1;
        this.StartPage = this.StartPage - this.PagingBlockSize;
        if (!suppresspageupdate) this.CurrentPage = this.StartPage;
    }
    else if (direction == 0 && this.CurrentPage == 1)
    {
        this.StartPage = 1;
        if (this.EndPage + this.PagingBlockSize &lt; this.TotalPages) this.EndPage = this.StartPage + this.PagingBlockSize - 1;
        else this.EndPage = this.TotalPages;
    }
    if (!suppresspageupdate) await this.PaginateAsync();
}
</pre>

<pre lang="c#">/// Moves forward or backwards one page
/// direction 1 for forwards
/// direction -1 for backwards
public async Task MoveOnePageAsync(int direction)
{
    if (direction == 1)
    {
        if (this.CurrentPage &lt; this.TotalPages)
        {
            if (this.CurrentPage == this.EndPage) await ChangeBlockAsync(1);
            this.CurrentPage += 1;
        }
    }
    else if (direction == -1)
    {
        if (this.CurrentPage &gt; 1)
        {
            if (this.CurrentPage == this.StartPage) await ChangeBlockAsync(-1);
            this.CurrentPage -= 1;
        }
    }
    await this.PaginateAsync();
}
</pre>

<pre lang="c#">/// Moves to the specified page
public Async Task GoToPageAsync(int pageno)
{
    this.CurrentPage = pageno;
    await this.PaginateAsync();
}

</pre>

<p>All the above methods set up the <code>IPagingControlService</code> properties and then call <code>PaginateAsync()</code> which calls the PageLoaderAsync delegate and forces a UI update.</p>

<pre lang="c#">// CEC.Blazor/Services/BaseControllerService.cs

/// Method to trigger the page Changed Event
public async Task PaginateAsync()
{
    // Check if we have a method loaded in the PageLoaderAsync delegate and if so run it
    if (this.PageLoaderAsync != null) this.PagedRecords = await this.PageLoaderAsync();
    //  Force a UI update as something has changed
    this.PageHasChanged?.Invoke(this, this.CurrentPage);
}
</pre>

<h4>PageControl</h4>

<p>The <code>PageControl</code> code is shown below and documented with comments.</p>

<pre lang="c#">// CEC.Blazor/Components/FormControls/PagingControl.razor

@if (this.IsPagination)
{
    &lt;div class="pagination ml-2 flex-nowrap"&gt;
        &lt;nav aria-label="Page navigation"&gt;
            &lt;ul class="pagination mb-1"&gt;
                @if (this.DisplayType != PagingDisplayType.Narrow)
                {
                    @if (this.DisplayType == PagingDisplayType.FullwithoutPageSize)
                    {
                        &lt;li class="page-item"&gt;&lt;button class="page-link" @onclick="(e =&gt; this.Paging.ChangeBlockAsync(-1, false))"&gt;1&laquo;&lt;/button&gt;&lt;/li&gt;
                    }
                    else
                    {
                        &lt;li class="page-item"&gt;&lt;button class="page-link" @onclick="(e =&gt; this.Paging.ChangeBlockAsync(-1, false))"&gt;&laquo;&lt;/button&gt;&lt;/li&gt;
                    }
                    &lt;li class="page-item"&gt;&lt;button class="page-link" @onclick="(e =&gt; this.Paging.MoveOnePageAsync(-1))"&gt;Previous&lt;/button&gt;&lt;/li&gt;
                    @for (int i = this.Paging.StartPage; i &lt;= this.Paging.EndPage; i++)
                    {
                        var currentpage = i;
                        &lt;li class="page-item @(currentpage == this.Paging.CurrentPage ? "active" : "")"&gt;&lt;button class="page-link" @onclick="(e =&gt; this.Paging.GoToPageAsync(currentpage))"&gt;@currentpage&lt;/button&gt;&lt;/li&gt;
                    }
                    &lt;li class="page-item"&gt;&lt;button class="page-link" @onclick="(e =&gt; this.Paging.MoveOnePageAsync(1))"&gt;Next&lt;/button&gt;&lt;/li&gt;
                    @if (this.DisplayType == PagingDisplayType.FullwithoutPageSize)
                    {
                        &lt;li class="page-item"&gt;&lt;button class="page-link" @onclick="(e =&gt; this.Paging.ChangeBlockAsync(1, false))"&gt;&raquo;@this.Paging.TotalPages&lt;/button&gt;&lt;/li&gt;
                    }
                    else
                    {
                        &lt;li class="page-item"&gt;&lt;button class="page-link" @onclick="(e =&gt; this.Paging.ChangeBlockAsync(1, false))"&gt;&raquo;&lt;/button&gt;&lt;/li&gt;
                    }
                }
                else
                {
                    &lt;li class="page-item"&gt;&lt;button class="page-link" @onclick="(e =&gt; this.Paging.MoveOnePageAsync(-1))"&gt;1&laquo;&lt;/button&gt;&lt;/li&gt;
                    @for (int i = this.Paging.StartPage; i &lt;= this.Paging.EndPage; i++)
                    {
                        var currentpage = i;
                        &lt;li class="page-item @(currentpage == this.Paging.CurrentPage ? "active" : "")"&gt;&lt;button class="page-link" @onclick="(e =&gt; this.Paging.GoToPageAsync(currentpage))"&gt;@currentpage&lt;/button&gt;&lt;/li&gt;
                    }
                    &lt;li class="page-item"&gt;&lt;button class="page-link" @onclick="(e =&gt; this.Paging.MoveOnePageAsync(1))"&gt;&raquo;@this.Paging.TotalPages&lt;/button&gt;&lt;/li&gt;
                }
            &lt;/ul&gt;
        &lt;/nav&gt;
        @if (this.DisplayType == PagingDisplayType.Full)
        {
            &lt;span class="pagebutton btn btn-link btn-sm disabled mr-1"&gt;Page @this.Paging.CurrentPage of @this.Paging.TotalPages&lt;/span&gt;
        }
    &lt;/div&gt;
}
</pre>

<pre lang="c#">// CEC.Blazor/Components/FormControls/PagingControl.razor.cs

public partial class PagingControl&lt;TRecord&gt; : ComponentBase where TRecord : IDbRecord&lt;TRecord&gt;, new()
{
    [CascadingParameter] public IControllerPagingService&lt;TRecord&gt; _Paging { get; set; }

    [Parameter] public IControllerPagingService&lt;TRecord&gt; Paging { get; set; }

    [Parameter] public PagingDisplayType DisplayType { get; set; } = PagingDisplayType.Full;

    [Parameter] public int BlockSize { get; set; } = 0;

    private bool IsPaging =&gt; this.Paging != null;

    private bool IsPagination =&gt; this.Paging != null && this.Paging.IsPagination;

    protected override Task OnRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Check if we have a cascaded IControllerPagingService if so use it
            this.Paging = this._Paging ?? this.Paging;
        }
        if (this.IsPaging)
        {
            this.Paging.PageHasChanged += this.UpdateUI;
            if (this.DisplayType == PagingDisplayType.Narrow) Paging.PagingBlockSize = 4;
            if (BlockSize &gt; 0) Paging.PagingBlockSize = this.BlockSize;
        }
        return base.OnRenderAsync(firstRender);
    }

    protected async void UpdateUI(object sender, int recordno) =&gt; await RenderAsync();

    private string IsCurrent(int i) =&gt; i == this.Paging.CurrentPage ? "active" : string.Empty;
}
</pre>

<h4>WeatherForecastListForm</h4>

<p>The Code for the <code>WeatherForecastListForm</code> is fairly self explanatory. &nbsp; <code>OnView</code> and <code>OnEdit</code> either route to the Viewer or Editor, or open the dialogs if <code>UIOptions</code> specifies Use Modals.</p>

<pre lang="c#">// CEC.Weather/Components/Forms/WeatherForecastListForm.razor.cs

public partial class WeatherForecastListForm : ListFormBase&lt;DbWeatherForecast, WeatherForecastDbContext&gt;
{
    /// The Injected Controller service for this record
    [Inject] protected WeatherForecastControllerService ControllerService { get; set; }

    protected override Task OnRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Sets the specific service
            this.Service = this.ControllerService;
            // Sets the max column
            this.UIOptions.MaxColumn = 3;
        }
        return base.OnRenderAsync(firstRender);
    }

    /// Method called when the user clicks on a row in the viewer.
    protected void OnView(int id)
    {
        if (this.UIOptions.UseModalViewer && this.ViewManager.ModalDialog != null) this.OnModalAsync&lt;WeatherForecastViewerForm&gt;(id);
        else this.OnViewAsync&lt;WeatherForecastViewerView&gt;(id);
    }

    /// Method called when the user clicks on a row Edit button.
    protected void OnEdit(int id)
    {
        if (this.UIOptions.UseModalViewer && this.ViewManager.ModalDialog != null) this.OnModalAsync&lt;WeatherForecastEditorForm&gt;(id);
        else this.OnViewAsync&lt;WeatherForecastEditorView&gt;(id);
    }
}
</pre>

<p>The Razor Markup below is an abbreviated version of the full file. &nbsp; This makes extensive use of UIControls which were covered in the previous article. &nbsp; See the comments for detail. &nbsp;</p>

<pre lang="C#">// CEC.Weather/Components/Forms/WeatherForecastListForm.razor

// Wrapper that cascades the values including event handlers
&lt;UIWrapper UIOptions="@this.UIOptions" RecordConfiguration="@this.Service.RecordConfiguration" OnView="@OnView" OnEdit="@OnEdit"&gt;

    // UI CardGrid is a Bootstrap Card
    &lt;UICardGrid TRecord="DbWeatherForecast" IsCollapsible="true" Paging="this.Paging" IsLoading="this.Loading"&gt;

        &lt;Title&gt;
            @this.ListTitle
        &lt;/Title&gt;

        // Header Section of UICardGrid
        &lt;TableHeader&gt;
            // Header Grid columns
            &lt;UIGridTableHeaderColumn TRecord="DbWeatherForecast" Column="1" FieldName="WeatherForecastID"&gt;ID&lt;/UIGridTableHeaderColumn&gt;
            &lt;UIGridTableHeaderColumn TRecord="DbWeatherForecast" Column="2" FieldName="Date"&gt;Date&lt;/UIGridTableHeaderColumn&gt;
            .....
            &lt;UIGridTableHeaderColumn TRecord="DbWeatherForecast" Column="7"&gt;&lt;/UIGridTableHeaderColumn&gt;
        &lt;/TableHeader&gt;

        // Row Template Section of UICardGrid
        &lt;RowTemplate&gt;
            // Cascaded ID for the specific Row
            &lt;CascadingValue Name="RecordID" Value="@context.WeatherForecastID"&gt;
                &lt;UIGridTableColumn TRecord="DbWeatherForecast" Column="1"&gt;@context.WeatherForecastID&lt;/UIGridTableColumn&gt;
                &lt;UIGridTableColumn TRecord="DbWeatherForecast" Column="2"&gt;@context.Date.ToShortDateString()&lt;/UIGridTableColumn&gt;
                .....
                &lt;UIGridTableEditColumn TRecord="DbWeatherForecast"&gt;&lt;/UIGridTableEditColumn&gt;
            &lt;/CascadingValue&gt;

        &lt;/RowTemplate&gt;
        // Navigation Section of UUCardGrid
        &lt;Navigation&gt;

            &lt;UIListButtonRow&gt;
                // Paging part of UIListButtonRow
                &lt;Paging&gt;
                    &lt;PagingControl TRecord="DbWeatherForecast" Paging="this.Paging"&gt;&lt;/PagingControl&gt;
                &lt;/Paging&gt;
            &lt;/UIListButtonRow&gt;

        &lt;/Navigation&gt;
    &lt;/UICardGrid&gt;
&lt;/UIWrapper&gt;
</pre>

<p>The Razor component uses a set of UIControls designed for list building. &nbsp; <code>UICardGrid</code> builds the Bootstrap Card and the table framework. &nbsp; You can explore the components code in the Github Repository.</p>

<h4>WeatherForcastListModalView</h4>

<p>This is pretty simple. &nbsp; Razor markup for a <code>WeatherForecastListForm</code> and a <code>UIOptions</code> object.</p>

<pre lang="c#">// CEC.Weather/Components/Views/WeatherForecastListModalView.razor

@using CEC.Blazor.Components
@using CEC.Blazor.Components.BaseForms
@using CEC.Blazor.Components.UIControls
@using CEC.Weather.Data
@using CEC.Weather.Components
@using CEC.Blazor.Components.Base

@namespace CEC.Weather.Components.Views

@inherits Component
@implements IView

&lt;WeatherForecastListForm UIOptions="this.UIOptions"&gt;&lt;/WeatherForecastListForm&gt;

@code {

    [CascadingParameter]
    public ViewManager ViewManager { get; set; }

    public UIOptions UIOptions =&gt; new UIOptions()
    {
        ListNavigationToViewer = true,
        ShowButtons = true,
        ShowAdd = true,
        ShowEdit = true,
        UseModalEditor = true,
        UseModalViewer = true
    };

}
</pre>

<h3>Wrap Up</h3>

<p>That wraps up this article. &nbsp; Some key points to note:</p>

<ol start="1"><li>There's no differences in code between a Blazor Server and a Blazor WASM.</li>

<li>Almost all functionality is implemented in the library components. &nbsp; Most of the application code is Razor markup for the individual record fields.</li>

<li>Async functionality is used throughout the components and CRUD data access.</li>

</ol>

<h2>History</h2>

<ul><li>25-Sep-2020: Initial version.</li>

</ul>

<ul><li>17-Nov-2020: Major Blazor.CEC library changes. &nbsp; Change to ViewManager from Router and new Component base implementation.</li>

</ul>


</body>
</html>
